<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0"><i class="fa-solid fa-gamepad mr-2"></i>ゲーム一覧（管理者）</h2>
    <%= link_to new_admin_game_path, class: "btn-success px-4 py-2 rounded-pill d-flex align-items-center" do %>
      <i class="fa-solid fa-plus mr-2"></i>作成
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="thead-light">
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">ジャンル</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.title %></td>
            <td><%= game.genre.present? ? game.genre.name : 'ジャンル未設定' %></td>
            <td class="text-center">
              <%= link_to '詳細', admin_game_path(game.id), class: "btn btn-sm btn-outline-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>