<div class="col-md-3">

  <h4 class="text-center mb-3">
    <i class="fa-solid fa-user mr-1"></i>ユーザー情報
  </h4>

  <div class="d-flex justify-content-center mb-3">
    <%= image_tag current_user.get_profile_image(100, 100), class: "rounded-circle border" %>
  </div>

  <table class="table table-sm table-bordered text-center mb-3">
    <tr class="table-light">
      <th class="w-50">名前</th>
      <td><%= current_user.name %></td>
    </tr>
  </table>

  <% unless current_user.email == "guest@guest.com" %>
    <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear mr-1"></i>プロフィール編集
    <% end %>
  <% end %>

</div>