<div class="container">
  <h1>ジャンル編集（管理者）</h1>
  <%= render "/layouts/error_messages", object: @genre %>
  <div class="row">
    <div class="col">
      <%= form_with model: [:admin, @genre], local: true do |f| %>
        <h4>ジャンル名</h4>
        <%= f.text_field :name %>

        <br>
        <%= f.submit '更新' %><br>
      <% end %>

    </div>
  </div>
</div>