<div class="container mt-4">
  <div class="row">
    <h1 class="col">ジャンル一覧（管理者）</h1>
    <%= link_to new_admin_genre_path, class: "btn btn-secondary px-3 py-2 rounded-pill d-inline-flex align-items-center" do %>
      <i class="fa-solid fa-pencil mr-2"></i>作成
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td>
            <%= link_to '詳細', admin_genre_path(genre.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>