<div class="container mt-4">
    <h2 class="mb-4">ジャンル詳細（管理者）</h2>

    <ul class="list-group mb-4">
      <li class="list-group-item"><strong>タイトル：</strong> <%= @genre.name %></li>
    </ul>

    <div class="text-center">
      <%= link_to '編集', edit_admin_genre_path(@genre), class: "btn btn-primary" %>
      <%= link_to '削除', admin_genre_path(@genre), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger ml-2" %>
    </div>
</div>

