<div class="container">
  <div class="row">
    <%= render "/users/userinfo" %>
    
    <div class="col-md-8 offset-md-1">
      <h1>ゲーム一覧</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>画像</th>
            <th>タイトル</th>
          </tr>
        </thead>
      
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td>画像未設定</td>
              <td><%= link_to game.title, game_path(game.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>
  </div>
</div>