<div class="container">
  <div class="row">

    <div class="col-md-8 offset-md-1">
      <h1>全ユーザー一覧</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>アドレス</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to "詳細", admin_dashboard_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>
    
  </div>
</div>